#sidenavbarUser{
    height: 100%;
    width: 300px;
    padding-top: 20px;
}
.avatarUsuario{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.avatarUsuario img{
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid white;
}
.nombreUsuario{
    color: white;    
    margin-top: 7px;
    height: 75px;

}
.nombreUsuario span{
    font-size: 1.5em;
    line-height: 1.2;
}
#navegacionUsuario{
    height: calc(100vh - 255px);
}
button{
    display: flex;
    background: black;
    border: 0px;
    border-bottom: 1px solid white;
    padding: 10px;
    color: white;
    font-size: 1.2em;
    transition: 0.3s;
}
button:hover{
    filter: invert(100%);
}
.activeLink{
    filter: invert(100%);
}