<nav id="sidenavbarUser">
    <div class="row m-0">
        <div class="avatarUsuario col-12">
            <img src="https://cdn141.picsart.com/319858826173201.jpg?type=webp&to=crop&r=256">
        </div>
        <div class="nombreUsuario col-12 text-center">
            <span>Nombre usuario fabuloso y bacán, en general usuario promedio</span>
        </div>
        <div class="col-12 p-0 pt-2" id="navegacionUsuario">
            <div class="row m-0 h-100">
                <div class="usuarioAcciones w-100">
                    <button [routerLink]="['/matchmaking/home']" routerLinkActive="activeLink" class="w-100"><fa-icon [icon]="faHome" class="mr-2"></fa-icon> Home</button>
                </div>
                <div class="usuarioAdministracion align-self-end w-100">
                    <button class="w-100"><fa-icon [icon]="faCog" class="mr-2"></fa-icon> Ajustes </button>
                    <button class="w-100" (click)="logOut()"><fa-icon [icon]="faSignOutAlt" class="mr-2" ></fa-icon> Cerrar sesión </button>
                </div>
            </div>
        </div>
    </div>
</nav>