#containerUsuarioModule{
    height: 100vh;
}
#sidenavBar{
    background-color: black;
}
#header{
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    height: 60px;
    display: flex;
}
#routerOut{
    padding-top: 60px;
}
#buttonHamburger{
    border: 0px;
    border-right: 1px solid black;
    background: #ffffff;
    transform: 5s;
}
#buttonHamburger:hover{
    filter: invert(100%);
}
#imgLogo{
    height: 100%;
}
#imgLogo img{
    height: 100%;
    object-fit: cover;
}
#headerSinImagen{
    width: calc(100% - 65px);
}