#registroView{
    min-height: 100vh;
}
#datosPersonalesRegistro{
    min-height: 200px;
    background-color: white;
    color: black;
    border: 1px solid black;
}
#imgLogo{
    height: 100px;
    width: auto;

}
#imgLogo img{
    object-fit: cover;
    height: 100%;
}
#datosConsolaSwitch{
    min-height: 80px;
    height: auto;
    background-color: white;
    color: black;
    border: 1px solid black;
}
#datosRegistro{
    min-height: 250px;
    height: auto;
    background-color: white;
    color: black;
    border: 1px solid black;
}
#botonRegistro{
    border: 1px solid white;
    margin-top:5px;
    padding: 3px;
    font-size: 1.1em;
    margin-bottom: 5px;
    background-color:black;
    font-weight: bold;
    color: white;
}
#botonRegistro:hover{
    filter: invert(100%);
}