<div id="matchCard" [routerLink]="['/matchmaking/match']" >
    <div id="infoSala" class="w-100">
        <div class="row m-0 h-100 w-100">
            <div class="col-4 align-items-center row m-0 justify-content-center h-100">
                <img id="imgAvatar" src="https://art.ngfiles.com/images/771000/771783_87octane_k-rool.png?f1546572063">
            </div>
            <div class="col p-0 d-flex pt-2" id="DatosDelMatch">
                <span class="first">Nombre del match</span>
                <span>Nombre autor</span>
                <span>Rank match</span>
            </div>
        </div>
    </div>
    <div id="ruleSala" class="w-100">
        <div class="row w-100 h-100 m-0">
            <div class="col-7 p-0 h-100 border-right transparent">

            </div>
            <div class="col border transparent">

            </div>
        </div>
    </div>
</div>
