@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
#matchCard{
    height: 130px;
    width: 250px;
    border: 1px solid black;
}
#infoSala{
    height: 70px;
    border-bottom: 1px solid black;
}
#ruleSala{
    height: 60px;
    background: black;
}
#imgAvatar{
    height: 80%;
    width: auto;
    border: 1px solid black;
    object-fit: cover;
}
.transparent{
    background: transparent;
}
#DatosDelMatch{
    flex-direction: column;
}
#DatosDelMatch span{
    font-family: 'Bebas Neue', cursive;
}
.first{
    font-size: 24px;
}