<div id="loginView" class="container-fluid border">
    <div class="row m-0 justify-content-center">
        <div id="imgLogoLogin" class="col-12 row justify-content-center">
            <img src="https://firebasestorage.googleapis.com/v0/b/breakpoint-cfec7.appspot.com/o/Break-logo-170x150.png?alt=media&token=63716c34-d619-4470-9ec9-6afa40c2d907" alt="">
        </div>
        <div class="col-lg-4 col-12 p-3" id="loginFormulario">
            <div id="TextoLogin" class="text-center">
                <h1 style="font-size: 2.3em;">Inicia sesión</h1>
            </div>
            <div id="spanLogin" class="text-center">
                <span>Para poder usar la aplicación, entre a su cuenta</span>
            </div>
            <form [formGroup]="formLogin" class="py-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Correo Electronico</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="correo">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="pass">
                </div>
                <button type="submit" id="botonIngreso" class="btn mb-2" (click)="login()">Ingresar</button>
                <span class="mt-2">¿No tienes cuenta?, <a [routerLink]="['/registro']">Registrate</a></span>
            </form>
        </div>
    </div>
</div>